# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# ArcGIS / geodatabases / locks
*.lock
*.sr.lock
*.geodatabase
*.gdb/
*.sde
*.ags
*.aprx.lock
*.tmp

# Raster / vector intermediates
scratch/
intermediate/
temp/
cache/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large local data kept outside GitHub
data/raw/
data/interim/
data/vectors/*
data/rasters/*
!data/README.md
!data/rasters/
!data/rasters/.gitkeep
!data/rasters/final_suitability_30m.tif
!data/metadata/
!data/metadata/*.csv
